body {
  background: #f3f4f5;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-nb {
  background-color: #bdc7e9;
}

.bottom {
  position: fixed;
  bottom: 1px;
  right: 10px;
}

.sidebar {
  position: fixed;
  right: 25px;
  top: 100px;
  background-color: #f3f4f5;
  padding: 10px 15px;
  min-width: 250px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.stock-plot {
  padding: 10px 20px;
  border: 0px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.alert-error {
  background-color: #d64242;
  color: white;
}