{% extends "layout.html" %} <!-- inherit from layout.html -->
{% block content %}
    <h1>About Page</h1>
    <p> A Corona summer project. With inspiration from the wallstreetbets subreddit. I hope this makes me cringe
        in a year as much as it does today.
        <br> "Like 4chan found a Bloomberg Terminal"
        <div class = "video">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GI7sBsBHdCk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <p>
            Video credit: CasuallyExplained
            </p>
        </div>
    </p>
{% endblock content %}}
