<!-- html template containing matched elements between pages -->
<!DOCTYPE html>
<html>
<head>
    <!-- Bokeh includes-->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.1.1.min.js" crossorigin="anonymous"></script>
    <!-- bootstrap starter -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device - width, initial-scale = 1, shrink-to-fit = no">
    <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin = "anonymous">
     <!-- find the main.css file -->
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename  = 'main.css') }}">

    <title> Stock lookup </title>
</head>

<body> <!-- make look pretty? -->
    <header class = "site header">
        <nav class = "navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class = "container">
                <div class = "collapse navbar-collapse" id = "navbarToggle">
                    <div class = "navbar-nav mr-auto">
                        <a class = "navbar-brand mr-4" href = "/"> Home </a>
                        <a class = "nav-item nav-link" href = "/stonks"> Stonks </a>
                        <a class = "nav-item nav-link" href = "/wsb"> WSB </a>
                        <a class = "nav-item nav-link" href = "/about"> About </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role = "main" class = "container">
        <div class = "row">
            <div class = "col-md-8">
                <!-- display flashed messages -->
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class = "alert alert-{{ category }}">
                                {{ message }} <!-- print message -->
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div >
                <div class = "sidebar text-white">
                    <h3 class = "text-dark"> Sidebar </h3>
                    <p class = "text-muted" > Money printer go brrrrr
                        <ul class = "list-group">
                            <li class = "list-group-item list-group-item-light ">
                                <a href = "https://www.reddit.com/r/wallstreetbets/">r/WSB</a> </li>
                            <li class = "list-group-item list-group-item-light">
                                <a href = "https://brrr.money/">Money printer</a> </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class = "bottom">
            <a href="https://iexcloud.io">All stock data provided by IEX Cloud</a>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>