{% extends "layout.html" %} <!-- inherit from layout.html -->
{% block content %}
    <div class = "content-section">
        <form method = "POST" action = "">
            {{ form.hidden_tag() }}
            <legend class = "border-bottom mb-4"> Search here:</legend>
            <div class = "form-group invalid-form">
                <label> Ticker: </label>
                {% if form.ticker.errors %}
                    {{ form.ticker(class = "form-control is-invalid") }}
                    <div class = "invalid-feedback">
                        {% for error in form.ticker.errors %}
                        <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ticker(class = "form-control", placeholder = "AAPL") }}
                {% endif %}
            </div>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}}
