{% extends "layout.html" %} <!-- inherit from layout.html -->
{% block content %}
<h1> WALL STREET BETS </h1>
    <div class = "col-md-12 reddit-embed">
        <script src='https://redditjs.com/subreddit.js' data-subreddit='wallstreetbets' data-height='500' data-width='700' data-theme = "light"></script>
    </div>
    <div>
        <h3>Elon vs SEC Live Updates!</h3>
        <div class = "twitter-embed">
            <a class="twitter-timeline" href="https://twitter.com/elonmusk" data-tweet-limit="10" data-width="700" ></a>
            <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
{% endblock content %}}